[graph]
targets = [
    "x86_64-unknown-linux-musl",
    "x86_64-unknown-linux-gnu",
    "aarch64-unknown-linux-musl",
    "aarch64-unknown-linux-gnu",
    "aarch64-apple-darwin",
    "x86_64-pc-windows-msvc",
]
all-features = true

[advisories]
yanked = "deny"
ignore = []

[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    #"Apache-2.0 WITH LLVM-exception",
    "MPL-2.0",
    "ISC",
    "BSD-3-Clause",
]
exceptions = [
    { allow = [
        "Unicode-DFS-2016",
    ], name = "unicode-ident" },
    { allow = [
        "OpenSSL",
    ], name = "ring" },
]

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]

[bans]
multiple-versions = "deny"
deny = ["openssl", "curl"]
skip = [
    # several users of this old version
    "bitflags@1.3.2",
]
skip-tree = [
    # sigh
    "windows-sys@0.48.0",
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-git = []
